.glow-text {
    color: #4db8ff;
    text-shadow: 0 0 10px #4db8ff, 0 0 25px #008cff;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% { text-shadow: 0 0 8px #3da8ff; }
    100% { text-shadow: 0 0 18px #00c6ff; }
}
